@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Loc

<div class="page">
    <main>
        <div class="top-row px-4">
            <Bluehill.Hangul.Pages.Pages.CultureSelector />
            <NavLink href="/Bluehill.Hangul/">@Loc["Home"]</NavLink>
            <NavLink href="howtouse">@Loc["HowToUse"]</NavLink>
            <NavLink href="tryjosa">@Loc["TryJosa"]</NavLink>
            <NavLink href="trychar">@Loc["TryChar"]</NavLink>
            <NavLink href="changelog">@Loc["ChangeLog"]</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
