@page "/"
@inject IStringLocalizer<Home> Loc

<PageTitle>Bluehill.Hangul</PageTitle>

<h1>Bluehill.Hangul</h1>

<p>
    <img alt="GitHub License" src="https://img.shields.io/github/license/na1307/Bluehill.Hangul?style=flat-square">
    <a href="https://www.nuget.org/packages/Bluehill.Hangul"><img alt="NuGet Version" src="https://img.shields.io/nuget/v/Bluehill.Hangul?style=flat-square&logo=nuget"></a>
    <a href="https://www.nuget.org/packages/Bluehill.Hangul"><img alt="NuGet Version (with prereleases)" src="https://img.shields.io/nuget/vpre/Bluehill.Hangul?style=flat-square&logo=nuget&label=preview&color=616"></a>
    <a href="https://www.nuget.org/packages/Bluehill.Hangul"><img alt="NuGet Downloads" src="https://img.shields.io/nuget/dt/Bluehill.Hangul?style=flat-square&logo=nuget"></a>
    <a href="https://github.com/na1307/Bluehill.Hangul/issues"><img alt="GitHub Issues" src="https://img.shields.io/github/issues-raw/na1307/Bluehill.Hangul?style=flat-square&logo=github"></a>
    <a href="https://github.com/na1307/Bluehill.Hangul/pulls"><img alt="GitHub Pull Requests" src="https://img.shields.io/github/issues-pr-raw/na1307/Bluehill.Hangul?style=flat-square&logo=github"></a>
    <img alt="GitHub Actions Workflow Status" src="https://img.shields.io/github/actions/workflow/status/na1307/Bluehill.Hangul/dotnet.yml?style=flat-square&logo=github-actions&logoColor=white">
    <a href="https://sonarcloud.io/summary/new_code?id=na1307_Bluehill.Hangul"><img alt="Sonar Quality Gate" src="https://img.shields.io/sonar/quality_gate/na1307_Bluehill.Hangul?server=https%3A%2F%2Fsonarcloud.io&style=flat-square&logo=sonarcloud"></a>
    <a href="https://sonarcloud.io/summary/new_code?id=na1307_Bluehill.Hangul"><img alt="Sonar Coverage" src="https://img.shields.io/sonar/coverage/na1307_Bluehill.Hangul?server=https%3A%2F%2Fsonarcloud.io&style=flat-square&logo=sonarcloud"></a>
</p>

<p>@Loc["Head"]</p>

<ul>
    <li><NavLink href="howtouse">@Loc["HowToUse"]</NavLink></li>
    <li>@Loc["Try"]</li>
    <li style="list-style-type:none">
        <ul>
            <li><NavLink href="tryjosa">@Loc["TryJosa"]</NavLink></li>
            <li><NavLink href="trychar">@Loc["TryChar"]</NavLink></li>
        </ul>
    </li>
    <li><NavLink href="changelog">@Loc["Changelog"]</NavLink></li>
</ul>
