@page "/trychar"
@inject IStringLocalizer<TryChar> Loc

<PageTitle>Bluehill.Hangul - TryChar</PageTitle>

<p>
    <label>
        @Loc["InputToTest"]
        <InputText id="input" @bind-Value="input" />
    </label>
</p>

<table id="results" class="table">
    <thead>
        <tr>
            <th>@Loc["Char"]</th>
            <th>@Loc["Choseong"]</th>
            <th>@Loc["Jungseong"]</th>
            <th>@Loc["Jongseong"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in input) {
            <tr>
                <td>@c</td>
                @if (c.IsHangulSyllable()) {
                    <td>@($"{c.Choseong().ToJamo()} ({c.Choseong()})")</td>
                    <td>@($"{c.Jungseong().ToJamo()} ({c.Jungseong()})")</td>
                    <td>@(c.Jongseong() != Jongseong.None ? $"{c.Jongseong().ToJamo()} ({c.Jongseong()})" : $"{@Loc["NoneJongseong"]} ({Jongseong.None})")</td>
                } else {
                    <td colspan="3" style="text-align: center;">@Loc["NotHangulSyllable"]</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    private string input = string.Empty;
}
